@model Planefall.ViewModels.Ticket.TicketBookingBindingModel

@{
    ViewData["Title"] = "Make a reservation";
}

<div class="container text-center w-100 w-md-50 mx-auto">
    <h1>Book ticket for flight @Model.FlightInformation.FlightNumber</h1>

    <div class="row w-100 my-5">
        <div class="text-left col-6">
            <h5>Departing from</h5>
            <p>@Model.FlightInformation.FromAirport</p>
            <p>@Model.FlightInformation.DepartureTime</p>
        </div>
        <div class="text-right col-6">
            <h5>Arriving at</h5>
            <p>@Model.FlightInformation.ToAirport</p>
            <p>@Model.FlightInformation.ArrivalTime</p>
        </div>
    </div>

    <form method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control"/>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Citizenship"></label>
            <input asp-for="Citizenship" class="form-control"/>
            <span asp-validation-for="Citizenship" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdNumber"></label>
            <input asp-for="IdNumber" class="form-control"/>
            <span asp-validation-for="IdNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TicketType"></label>
            <select asp-for="TicketType" class="form-control custom-select">
                <option value="@TicketType.Regular">
                    @TicketType.Regular.ToString() - @Model.FlightInformation.RemainingRegularSeats remaining
                </option>
                <option value="@TicketType.Business">
                    @TicketType.Business.ToString() - @Model.FlightInformation.RemainingBusinessSeats remaining
                </option>
            </select>
            <span asp-validation-for="TicketType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Make a reservation</button>
        </div>
    </form>
</div>