@model Planefall.ViewModels.Flight.FlightDetailsViewModel

@{
    ViewData["Title"] = "Flight details - " + Model.FlightNumber;
}

<h3 class="mx-5 text-center">Details of flight @Model.FlightNumber</h3>

<h5 class="mx-3 text-center">Confirmed reservations</h5>

<table class="table table-hover table-bordered auto-datatable">
    <thead>
    <tr class="font-weight-bold">
        <th>Ticket type</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>Citizenship</th>
        <th>Phone number</th>
        <th>ID number</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.TicketType</td>
            <td>@ticket.FirstName</td>
            <td>@ticket.MiddleName</td>
            <td>@ticket.LastName</td>
            <td>@ticket.Citizenship</td>
            <td>@ticket.PhoneNumber</td>
            <td>@ticket.IdNumber</td>
        </tr>
    }
    </tbody>
</table>