@using Planefall.Common
@model ICollection<Planefall.ViewModels.Flight.FlightListingViewModel>

@{
    ViewData["Title"] = "Flights";
}

<h3 class="text-center mx-5">Flights</h3>

@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a asp-action="Create" class="btn btn-primary float-right">Create new</a>
}


<table class="table table-hover table-bordered auto-datatable">
    <thead>
    <tr class="font-weight-bold">
        <th>Flight number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure time</th>
        <th>Duration</th>
        @if (User.Identity.IsAuthenticated)
        {
            <th>Plane type</th>
            <th>Pilot</th>
            <th>Regular seats</th>
            <th>Business seats</th>
            <th class="none">Actions</th>
        }
        else
        {
            <th>Booking</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var flight in Model)
    {
        <tr>
            <td>@flight.FlightNumber</td>
            <td>@flight.FromAirport</td>
            <td>@flight.ToAirport</td>
            <td>@flight.DepartureTime</td>
            <td>@flight.ArrivalTime.Subtract(flight.DepartureTime)</td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>@flight.PlaneType</td>
                <td>@flight.PilotName</td>
                <td>@flight.RegularSeats</td>
                <td>@flight.BusinessSeats</td>
            }
            <td>
                <a class="btn btn-primary" asp-controller="Flights" asp-action="Book" asp-route-id="@flight.Id">Reserve ticket</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-secondary" asp-controller="Flights" asp-action="Details" asp-route-id="@flight.Id">Details</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>